<%= form_for(@subway) do |f| %>
  <% if @subway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subway.errors.count, "error") %> prohibited this subway from being saved:</h2>

      <ul>
      <% @subway.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hour %><br />
    <%= f.text_field :hour %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
